    <div id="folder_<%= folder.id %>" class="item-back folder">
        <div class="item-contents" data-controller="accordion">
            <div >
                <button id="folder-panel-btn<%=folder.id%>" class="accordion-button mb-n3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#folder-panel-<%= folder.id %>" aria-expanded="true"
                        aria-controls="folder-panel-<%= folder.id %>"
                        style="display:block; text-align:center; margin-bottom: -30px;">
                        <i class="bi bi-folder-fill folder-icon"></i>
                </button>
            </div> 
            <div class="text-center" style="overflow-wrap: anywhere;">
                <div class="folder-title">
                    <%= folder.name %>
                </div>

                <div class="folder-link text-center mt-2">
                    <%= link_to(edit_folder_path(folder, category_id: folder.category_id), data: { turbo_frame: 'folder_modal' },
                        id: "edit-folder-#{folder.id}", class: "category-link") do %>
                        <i class="bi bi-pencil-fill me-1"></i>
                    <% end %>

                    <%= link_to(folder_path(folder), data: {turbo_method: :delete, turbo_confirm: t('confirm.delete', title: t('folder.title'))},
                        id: "delete-folder-#{folder.id}", class: "category-link") do %>
                        <i class="bi bi-trash-fill"></i>
                    <% end %>
                </div>
            </div> 
        </div>
    </div>