<!-- ヘッダ共通部品 -->
<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to('/', class: "navbar-brand icon") do %>
      <% image_tag("icon.png") %>
    <% end %>
    <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ms-auto main-nav align-items-center'>

        <li class='nav-item dropdown dropdown-slide'>
          <%= link_to('#', class: 'nav-link', id: 'header-profile', data: {bs_toggle: 'dropdown' }, aria: {haspopup: 'true', expanded: 'false'}) do %>
            <%= image_tag("sample.jpeg", class: 'rounded-circle mr15', width: 40, height: 40) %>
          <% end %>
        
          <div class='dropdown-menu dropdown-menu-end'>
            <div class='dropdown-item'><%= current_user.user_name %></div>
            <div class='dropdown-divider'></div>
            <%# <%= link_to t('header.profile'), profile_path, class: 'dropdown-item' %> 
            <%= link_to t('dictionary.loginout'), logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>