<div id=category_<%= category.id %> class="category mb-3 pb-3">
    <div class="category-header">
        <div id="category_name_<%= category.id %>" class="category-name-box text-center">
            <span class="category-name"><%= category.name %></span>
        </div>
        <% unless category.is_uncategorized %>
            <div class="pe-1">
                <%# 修正リンク %>
                <%= link_to(edit_category_path(category.id), data: { turbo_frame: 'category_modal' }, id: "edit-category-#{category.id}", class: "category-link") do %>
                    <span><i class="bi bi-pencil-fill me-1"></i></span>
                <% end %>

                <%# 削除リンク %>
                <%= link_to(category_path(category), data: {turbo_method: :delete, turbo_confirm: t('confirm.delete', title: t('category.title'))}, id: "delete-category-#{category.id}", class: "category-link") do %>
                    <span><i class="bi bi-trash-fill"></i></span>
                <% end %>
            </div>
        <% end %>
    </div>

    <div class="content">
        <%# linkパーシャル %>
        <div id="link-block-<%= category.id %>" class="link-block">
            <% if category.bookmarks_without_folder&.any? %>
                <%= render partial: "bookmarks/bookmark", collection: category.bookmarks_without_folder, as: :bookmark %>
            <% end %>
        </div> 
        
        <%# folderパーシャル %>
        <div id="folder-block-<%= category.id %>" class="folder-block">
            <% if category.folders&.any? %>
                <%= render partial: "folders/folder", locals: { category: category }, collection: category.folders %>
            <% end %>
        </div>
        
        <%# カテゴリADDボタン %>
        <%= render "shared/add_button", category: category, folder_id: nil %>
    </div>

    <%# accordion block %>
    <div id="category-accordion-<%= category.id %>" class="accordion">
        <%# folder content %>
        <% if category.folders&.any? %>
            <%= render partial: "folders/folder_panel", locals: { category: category }, collection: category.folders, as: :folder %>
        <% end %>
    </div>
</div>
