<div id=category_<%= category.id %> class="category mb-3">
    <div class="category-header">
        <div class="category-name-box text-center">
            <span class="category-name"><%= category.name %></span>
        </div>
        <% unless category.is_uncategorized %>
            <div class="pe-1">
                <%# 修正リンク %>
                <%= link_to(edit_category_path(category.id), data: { turbo_frame: 'category_modal' }, class: "category-link") do %>
                    <span><i class="bi bi-pencil-fill me-1"></i></span>
                <% end %>

                <%# 削除リンク %>
                <%= link_to(category_path(category), data: {turbo_method: :delete, turbo_confirm: t('confirm.delete', title: t('category.title'))}, class: "category-link") do %>
                    <span><i class="bi bi-trash-fill"></i></span>
                <% end %>
            </div>
        <% end %>
    </div> 

    <%# ダミーアイテム %>
    <div class="content">
        <div id="link-block-<%= category.id %>" class="link-block">
            <div class="item-back">
                <div class="item-contents">
                    <div class="image-container">
                        <%= image_tag("sample.jpg", class: "link-image") %>
                    </div>
                    <div class="link-title text-start">ダミーTitle</div>
                    <div class="link-desc text-start ">ダミーDescription</div>
                </div>
            </div>
        </div>

        <%# フォルダパーシャル %>
        <div id="folder-block-<%= category.id %>" class="folder-block">
            <%= render partial: "folders/folder", locals: { category: category }, collection: category.folders %>
        </div>

        <%# カテゴリADDボタン %>
        <%= render "shared/add_button", category: category, folder_id: nil %>
    </div>

    <%# accordion block %>
    <div id="category-accordion-<%= category.id %>" class="accordion">
        <%# folder content %>
        <%= render partial: "folders/folder_panel", locals: { category: category }, collection: category.folders, as: :folder %>
    </div>
</div>
