<%# フォームを部分的に読み込ませるための目印 %>
<%= turbo_frame_tag dom_id(@user, :form) do %>
  <%= render 'shared/modal_errors', modal_errors: @user %>
  <%= form_with url: login_path, html: { data: {action: 'turbo:submit-end->login_modal#close'}} do |f| %>
    <div class="w-75 mx-auto">
    <div class="mb-3">
      <%= f.label :email, t('activerecord.attributes.user.email'), class: "form-label" %>
      <%= f.email_field :email, class: "form-control", placeholder: t('placeholder.email') %>
    </div >
    <div class="mb-4">
      <%= f.label :password, t('activerecord.attributes.user.password'),class: "form-label" %>
      <%= f.password_field :password, class: "form-control", placeholder: t('placeholder.password') %>
    </div >
    <div class="mt-4">
      <%= f.submit t('submit.submit_login'), id: "modal-login-btn", class: "btn btn-success w-100 rounded-3" %>
    </div >
    </div>
  <% end %>
<% end %>